In [20]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [24]:
from numpy import NAN, NaN
from pandas import NA


dict = {
    "id":[1,2,3,4,5,6,7,8,9],
    "values":[25,67,NaN,88,NaN,NaN,23,76,NaN] ,
    "type":["b","c",NaN,"b",NaN,"c","a","b","c"] 
}

a = pd.DataFrame(dict)

In [25]:
a

   id  values type
0   1    25.0    b
1   2    67.0    c
2   3     NaN  NaN
3   4    88.0    b
4   5     NaN  NaN
5   6     NaN    c
6   7    23.0    a
7   8    76.0    b
8   9     NaN    c

In [28]:
g  = pd.DataFrame(a["values"])

In [10]:
a["values"].describe()

count      5
unique     5
top       25
freq       1
Name: values, dtype: int64

In [11]:
a["values"].fillna(a["values"].mean())

0    25.0
1    67.0
2    55.8
3    88.0
4    55.8
5    55.8
6    23.0
7    76.0
8    55.8
Name: values, dtype: float64

In [30]:
imputer = SimpleImputer(add_indicator=True)
i = imputer.fit_transform(g)

In [31]:
i

array([[25. ,  0. ],
       [67. ,  0. ],
       [55.8,  1. ],
       [88. ,  0. ],
       [55.8,  1. ],
       [55.8,  1. ],
       [23. ,  0. ],
       [76. ,  0. ],
       [55.8,  1. ]])

In [33]:
i_imputed = pd.DataFrame(i,columns=["imputed_values","indicators"])
i_imputed

   imputed_values  indicators
0            25.0         0.0
1            67.0         0.0
2            55.8         1.0
3            88.0         0.0
4            55.8         1.0
5            55.8         1.0
6            23.0         0.0
7            76.0         0.0
8            55.8         1.0